@{
    ViewBag.Title = "Lưu Viết Nam";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Shop bán quần áo <br />
    Hữu hòa, Thanh Trì, Hà Nội<br />
    <abbr title="Phone">P:</abbr>
    0384322743 
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">luunam990@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">luunam990@gmail.com</a>
</address>